

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

ul{
    background-color: #ded7fa;
    padding: 0px 10px;
}

nav a{
    text-decoration: none;
    color: black;
}